* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: #231012;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-img {
  width: 30px;
  height: 30px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 40%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  padding: 8% 5% 0% 5%;
  margin: 10% 30% 0% 30%;
}
.modal-content {
  height: 300px;
  width: 400px;
  border-radius: 8px;
  color: white;
}

.close-btn {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 30px;
}

.password-container button {
  position: absolute;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.form-search {
  position: relative;
  max-width: 400px;
  background-color: #492122;
  border-radius: 20px;
}
.form-search__control {
  height: 40px;
  width: 100%;
  border: none;
  background-color: #492122;
  color: #9d6f72;
  padding-left: 3rem;
  border-radius: 10px;
}

.form-search__submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0.75rem;
  background-color: #492122;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 800;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 40px;
}
.buttons {
  display: flex;
  gap: 10px;
}
.nav-buttons {
  display: flex;
  gap: 30px;
}
.profil {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url("/img/anime.jpg");
  background-size: contain;
  border: none;
}
.same-buttons {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #492122;
  border: none;
}
.same-buttons-img {
  width: 20px;
  height: 20px;
}
hr {
  border-color: #9d6f72;
  margin-bottom: 30px;
}
.full {
  place-items: center;
}
.first {
  margin-bottom: 30px;
}
.kino-seats {
  width: 1000px;
  height: 500px;
  border-radius: 7px;
}
.fon {
  z-index: 1;
  position: absolute;
}
.news {
  z-index: 2;
  width: 1000px;
  height: 500px;
  position: relative;
  padding: 150px 0px 50px 50px;
}
.news h1 {
  color: white;
  font-size: 80px;
}
.second {
  color: white;
  max-width: 1000px;
  overflow-x: auto;
}
.section h1 {
  margin-bottom: 10px;
}
.films {
  display: flex;
  gap: 50px;
}
.film-1 {
  width: 200px;
}
.film {
  width: 250px;
  place-content: center;
}
